django-storages==1.7.1
azure-storage-blob==2.1.0
azure-common==1.1.25
ptvsd==4.3.2
pathos==0.2.2.1
chardet==3.0.4
django-debug-toolbar==1.11
# https://github.com/veuncent/django-static-compress/archive/1.0.0.0.zip
django_compressor==2.4
django-appconf==1.0.3